<section class="productfeature">
    <h1 class="productfeature__title"><strong>{{ name }}</strong></h1>
    <div class="productfeature__main">
        <div class="productfeature__image">
            <img class="productfeature__img" src="{{ img }}" alt="{{ name }}">
        </div>
        <div class="productfeature__container">
            <div class="productfeature__mainproduct">
                <div class="productfeature__table">
                    <div class="productfeature__quantity">
                        <p>
                            <br>
                            {{ por }}
                            <br>
                            <strong>Por</strong> 
                            <hr class="productfeature__hr">
                            <br>
                            {{ kcal }}
                            <br>
                            <strong>Kcal</strong> 
                            <hr class="productfeature__hr">
                            <br>
                            {{ prot }}
                            <br>
                            <strong>Prot</strong> 
                            <hr class="productfeature__hr">
                            <br>
                            {{ gra }}
                            <br>
                            <strong>Gra</strong> 
                            <hr class="productfeature__hr">
                            <br>
                            {{ carb }}
                            <br>
                            <strong>Carb </strong>
                            <hr class="productfeature__hr">
                            <br>
                            {{ azu }}
                            <br>
                            <strong>Azu</strong>
                        </p>
                    </div>
                    <p class="productfeature__info"><strong>Características</strong></p>
                    <p class="productfeature__info"><strong>${{ price }}</strong></p>
                    <p>{{ description}}</p>
                    <button class="productfeature__button">
                        <strong>Agregar</strong>
                    </button>
                </div>
            </div>


        </div>
    </div>
</section>