<div class="store">
    <header class="store__header">
        <h1 class="store__title">
            Productos
        </h1>
        <nav class="store__sort">
            <strong>Ordenar por</strong> 
            <select class="store__sortcontainer">
                <option class="store__sortoptions" value="" disabled="true" selected="true">Selecciona una opción</option>
                <option value="price_desc">Mayor precio primero</option>
                <option value="price_asc">Menor precio primero</option>
                <option value="new_products">Nuevos productos</option>
                  <option value="popularity">Popularidad</option>
            </select>
        </nav>
        
    </header>
   
    <section class="store__section">
        <div class="store__filtercontainer">
            <p class="store__filtertitle">
                <strong>Productos</strong>
            </p>
            <div class="store__filter">
                <label> <input type="checkbox" class="store__juice" value="jugos">Jugos naturales</label>
                <label> <input type="checkbox" class="store__infusion" value="te">Infusiones</label>
                <label> <input type="checkbox" class="store__penaut" value="mani">Maní y mezclas</label>
                <label> <input type="checkbox" class="store__bar" value="barras">Barras de cereal</label>
            </div>
            <p class="store__filtertitle">
                <strong>Precio máximo</strong>
            </p>
            <nav class="store__filterprice">
                <select class="store__price">
                    <option class="store__sortoptions" value="" disabled="true" selected="true">Selecciona una opción</option>
                    <option value="2000">$2000</option>
                    <option value="3000">$3000</option>
                    <option value="5000">$5000</option>
                    <option value="7000">$7000</option>
                </select>
            </nav>
        </div>

        <div class="store__products">
            {{#each products}}
            <div class="product type--{{type}}">
                <header class="product__header">
                    <a href="/product/{{ name }}/{{ _id }}">
                        <img class="product__image" src="{{ img }}" alt="{{ name }}" data-id="{{ _id }}">
                    </a>
                </header>

                <section class="product__section">
                    <p class="product__name">{{ name }}</p>
                    <p class="product__price">
                        <strong>$ {{ price }}</strong>
                    </p>
                </section>

                <footer class="product__footer">
                    <button class="product__button" data-name="{{ name }}" data-price="{{ price }}" data-img="{{ img }}">
                        <strong>Agregar</strong>
                    </button>
                </footer>
            </div>
            {{/each}}


        </div>
    </section>
</div>
<script src="/scripts/client.js"></script>